* {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    background-color: #E0E0E0;
}

:root {
    --background: #E0E0E0;
    --black: #000000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Roboto Mono", sans-serif;
    background-color: var(--background);
    margin-top: 8px;
}

.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
}

.nav-container {
    display: flex;
    background-color: var(--background);
    justify-content: space-around;
    width: 30%;
    text-decoration: none;
}

.nav-container li {
    list-style: none;
}

.nav-container a {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
}

.nav-links {
    position: relative;
    padding-left: 4px;
    padding-right: 0px;
    margin-top: 10px;
}

.nav-links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: black;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.nav-links:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-links:hover{
    font-weight: bold;
}


.burger {
    display: none;
}

.burger div {
    width: 26px;
    height: 2px;
    background-color: var(--black);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-container {
        width: 33%;
    }
}

@media screen and (max-width:830px){
    body {
        overflow-x: hidden;
    }
    .nav-container {
        position: absolute;
        right: 0px;
        height: 18vh;
        top: 8vh;
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-container li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}