* {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    background-color: #E0E0E0;
}

:root {
    --background: #E0E0E0;
    --black: #000000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Roboto Mono", sans-serif;
    background-color: var(--background);
}

.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
}

.nav-container {
    display: flex;
    background-color: var(--background);
    justify-content: space-around;
    width: 20%;
    text-decoration: none;
}

.nav-container li {
    list-style: none;
}

.nav-container a {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
}

.nav-links {
    position: relative;
    padding-left: 4px;
    padding-right: 0px;
    margin-top: 5px;
}

.nav-links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: black;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.nav-links:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-links:hover{
    font-weight: bold;
}

.burger {
    display: none;
}

.burger div {
    width: 26px;
    height: 2px;
    background-color: var(--black);
    margin: 5px;
    transition: all 0.3s ease;
}

.gallery_img {
    width: 100%;
}

.grid {
    margin-top: 90px;
    display: grid;
    grid-template-columns: auto 25% 25% 25% auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5vh;

}
.retriever_gallery {
    grid-column: 2 / 3;
    width: 90%;
}
.sports_gallery {
    grid-column: 3 / 4;
    width: 90%;
}
.hotel_fullerton_gallery {
    grid-column: 4 / 5;
    width: 90%;
}
.USDA_gallery {
    grid-column: 2 / 3;
    width:90%
}
.mom_gallery {
    grid-column: 3 / 4;
    width: 90%;
}
.hearts_bones_gallery {
    grid-column: 4 / 5;
    width: 90%;
}
.footer {
    grid-column: 2 / 5;
    grid-row: 4;
}


@media screen and (max-width:1020px) {
    .nav-container {
        width: 35%;
    }
    .grid {
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto 35% 35% auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .retriever_gallery {
        grid-column: 2 / 3;
        width: 90%;
    }
    .sports_gallery {
        grid-column: 3 / 4;
        width: 90%;
    }
    .hotel_fullerton_gallery {
        grid-column: 2 / 3;
        width: 90%;
    }
    .USDA_gallery {
        grid-column: 3 / 4;
        width: 90%;
    }
    .mom_gallery {
        grid-column: 2 / 3;
        width: 90%;
    }
    .hearts_bones_gallery {
        grid-column: 3 / 4;
        width: 90%;
    }
    .footer {
        grid-column: 2 / 4;
        grid-row: 5;
    }
}

@media screen and (max-width:900px){
    body {
        overflow-x: hidden;
    }
    .nav-container {
        position: absolute;
        right: 0px;
        height: 18vh;
        top: 8vh;
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-container li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width:700px){
    .grid {
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto 60% auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .retriever_gallery {
        grid-column: 2;
        width: 90%
    }
    .sports_gallery {
        grid-column: 2;
        width: 90%
    }
    .hotel_fullerton_gallery {
        grid-column: 2;
        width: 90%
    }
    .USDA_gallery {
        grid-column: 2;
        width: 90%
    }
    .mom_gallery {
        grid-column: 2;
        width: 90%
    }
    .hearts_bones_gallery {
        grid-column: 2;
        width: 90%
    }
    .footer {
        grid-column: 2;
        grid-row: 8;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

.preloader {
    align-items: center;
    background: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 1.7s linear;
    transition: opacity .7s linear;
    width: 100%;
    z-index: 9999;
    pointer-events: none;
}